<head>
  <%- include partials/dependencies.ejs %>
  <title><%= platform.name %></title>
  <meta name="uns-url-checker-verification" content="qetzUD50ZbywMlZi3SCEN2DP3keFfcl0FYSLwhMY25jYHaFDm0Wm35VzPEo9nJnie8fSMMR7p8vrUNewFCw0fw">
  <link rel="icon" type="image/png" href="./images/<%= platform.name.toLowerCase() %>-icon.png" />
</head>
<body class="<%= platform.mode %>">
  <%- include partials/navigation.ejs %>

  <!-- Content -->
  <div class="container content flex-fill d-flex flex-column">
    <% if (user) { %>
      <%- include partials/loggedInUserContent.ejs %>
    <% } else { %>
      <%- include partials/anonymousContent.ejs %>
    <% } %>
  </div>

  <%- include partials/footer.ejs %>
  <%- include partials/loginModal.ejs %>
</body>