<head>
  <%- include partials/dependencies.ejs %>
  <title><%= platform.name %></title>
  <!-- Only for platform101.net -->
  <meta name="uns-url-checker-verification" content="oQ8C36tTe6sXN0n3hTB2sHRxZjFyAoT54UitPsAywm4vqj1_rLPbJ8i7PZoz8iQBETJJTi_IYrebKi1DoNsBsw">
  <link rel="icon" type="image/png" href="./images/<%= platform.name.toLowerCase() %>-icon.png" />
  <link rel="icon" type="image/png" href="./images/wpteam.png" size="192x192"/>
</head>
<body class="<%= platform.mode %>">
  <%- include partials/navigation.ejs %>

  <!-- Content -->
  <div class="container content flex-fill d-flex flex-column">
    <% if (user) { %>
      <%- include partials/loggedInUserContent.ejs %>
    <% } else { %>
      <%- include partials/anonymousContent.ejs %>
    <% } %>
  </div>

  <%- include partials/footer.ejs %>
  <%- include partials/loginModal.ejs %>
</body>