<head>
  <%- include partials/dependencies.ejs %>
  <title><%= platform.name %></title>
  <meta name="uns-url-checker-verification" content="gw9D282wfkOShQGa2t4ZAfu6p-xeG_R6rSe37zbCdt6OyXNaJKwPTKLSim4_6u7txwtampaRL9lGW1aaw1j4Sg">
  <link rel="icon" type="image/png" href="/images/platform103-icon.png" />
</head>
<body class="<%= platform.mode %>">
  <%- include partials/navigation.ejs %>

  <!-- Content -->
  <div class="container content flex-fill d-flex flex-column">
    <% if (user) { %>
      <%- include partials/loggedInUserContent.ejs %>
    <% } else { %>
      <%- include partials/anonymousContent.ejs %>
    <% } %>
  </div>

  <%- include partials/footer.ejs %>
</body>