<head>
  <%- include partials/dependencies.ejs %>
</head>
<body class="<%= platform.mode %>">
  <%- include partials/navigation.ejs %>

  <!-- Content -->
  <div class="container content flex-fill d-flex flex-column">
    <% if (user) { %>
      <%- include partials/loggedInUserContent.ejs %>
    <% } else { %>
      <%- include partials/anonymousContent.ejs %>
    <% } %>
  </div>

  <%- include partials/footer.ejs %>
  <%- include partials/loginModal.ejs %>
</body>