<head>
  <%- include partials/dependencies.ejs %>
  <title><%= platform.name %></title>
  <link rel="icon" type="image/png" href="./images/unikname-connect.png" />
</head>
<body class="<%= platform.mode %>">
  <%- include partials/navigation.ejs %>

  <!-- Content -->
  <div class="container content flex-fill d-flex flex-column">
    <% if (user) { %>
      <%- include partials/loggedInUserContent.ejs %>
    <% } else { %>
      <%- include partials/anonymousContent.ejs %>
    <% } %>
  </div>

  <%- include partials/footer.ejs %>
</body>