<%- include partials/dependencies.ejs %>
<%- include partials/navigation.ejs %>

<script type="text/javascript">
  $(document).ready(function(){
    function getCustomMessage() {
      return $("#customMessage").val();
    }

    var initialCustomMessage = getCustomMessage().trim();

    $('#customMessage').on("keyup", function(){
      let currentMessage = getCustomMessage().trim();
      $("#customMessageForm button").prop('disabled', currentMessage === initialCustomMessage);
    });
  });
</script>

<!-- Content -->
<div class="container content flex-fill d-flex flex-column">
  <div class="row">
      <div class="col-12 col-md-7 col-xl-6">
        <h1 class="mb-4">
          Welcome <%= user.username %>
        </h1>
        <h3 class="mb-2">
          Internal platform101 user's data
        </h3>
        <div class="mb-1">
          <span class="font-weight-bold">accountID: </span>
          <span class="font-weight-light"><%= user.id %></span>
        </div>
        <div class="mb-1">
          <span class="font-weight-bold">username: </span>
          <span class="font-weight-light"><%= user.username %></span>
        </div>
        <div class="mb-1">
          <span class="font-weight-bold">sign-up date: </span>
          <span class="font-weight-light"><%= new Date(user.signupDate).toGMTString() %></span>
        </div>
        <div class="mb-1">
          <span class="font-weight-bold">last sign-in date: </span>
          <span class="font-weight-light"><%= new Date(user.lastSignInDate).toGMTString() %></span>
        </div>
        <div>
          <span class="font-weight-bold">count of sign-in: </span>
          <span class="font-weight-light"><%= user.signInCount %></span>
        </div>
        <form class="mt-5" action="saveMessage" method="post" id="customMessageForm">
          <div class="form-group">
            <label for="customMessage">
              Your customized message
            </label>
            <textarea name="customMessage" id="customMessage" class="form-control" rows="3"><%= user.customMessage %></textarea>
          </div>
          <button class="btn btn-primary btn-wide" disabled type="submit">Save</button>
        </form>
      </div>
  </div>
</div>

<%- include partials/footer.ejs %>
<%- include partials/loginModal.ejs %>